node-red/publisher(2).json
[{"id":"18fffb2c.8618a5","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2cc16a2f.89fbd6","type":"mongodb2 in","z":"18fffb2c.8618a5","service":"_ext_","configNode":"a4775c6f.ae126","name":"yobitrudt_DB","collection":"ecg","operation":"find.toArray","x":610,"y":100,"wires":[["711e373c.a44b18"]]},{"id":"8127586b.32e0a8","type":"function","z":"18fffb2c.8618a5","name":"Conv_to_Json","func":"p = msg.payload;\n\nvar data={\"data\":p};\nnode.log(typeof data);\nmsg.payload=JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":100,"wires":[["1287b8cc.dd19b7"]]},{"id":"1287b8cc.dd19b7","type":"json","z":"18fffb2c.8618a5","name":"","property":"payload","action":"","pretty":false,"x":470,"y":100,"wires":[["2cc16a2f.89fbd6"]]},{"id":"4da1d7bc.b55bb8","type":"inject","z":"18fffb2c.8618a5","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2JJJJ","payloadType":"msg","x":160,"y":100,"wires":[["8127586b.32e0a8"]]},{"id":"97242ca5.a8321","type":"mqtt out","z":"18fffb2c.8618a5","name":"publisher","topic":"food","qos":"","retain":"","broker":"dd15139f.7e652","x":700,"y":240,"wires":[]},{"id":"3fb059d0.4454d6","type":"mosca in","z":"18fffb2c.8618a5","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"mongodb://localhost:27017/db","x":170,"y":240,"wires":[[]]},{"id":"711e373c.a44b18","type":"function","z":"18fffb2c.8618a5","name":"Conv_to_Json","func":"p = msg.payload;\n\nvar data={\"data\":p};\nnode.log(typeof data);\nmsg.payload=JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["1de25305.c6a07d"]]},{"id":"1de25305.c6a07d","type":"json","z":"18fffb2c.8618a5","name":"","property":"payload","action":"","pretty":false,"x":570,"y":240,"wires":[["97242ca5.a8321"]]},{"id":"a4775c6f.ae126","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/admin","name":"admin","options":"","parallelism":"-1"},{"id":"dd15139f.7e652","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]