node-red/subscriber(1).json
[{"id":"c5e85c04.ec106","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"12ba7881.d98867","type":"mqtt in","z":"c5e85c04.ec106","name":"subscriber","topic":"food","qos":"2","datatype":"auto","broker":"dd15139f.7e652","x":80,"y":80,"wires":[["2b1c2ba3.0963e4"]]},{"id":"837941d1.f53ea","type":"mongodb2 in","z":"c5e85c04.ec106","service":"_ext_","configNode":"a4775c6f.ae126","name":"","collection":"ecg","operation":"insert","x":420,"y":80,"wires":[["abbfb208.0958e"]]},{"id":"2b1c2ba3.0963e4","type":"json","z":"c5e85c04.ec106","name":"","property":"payload","action":"","pretty":false,"x":230,"y":80,"wires":[["837941d1.f53ea"]]},{"id":"abbfb208.0958e","type":"debug","z":"c5e85c04.ec106","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":80,"wires":[]},{"id":"66d5ca7a.b8e1f4","type":"mosca in","z":"c5e85c04.ec106","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"mongodb://localhost:27017/db","x":230,"y":180,"wires":[[]]},{"id":"dd15139f.7e652","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a4775c6f.ae126","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/admin","name":"admin","options":"","parallelism":"-1"}]